{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
</head>
<body>
    <div id="navbar">
        <img src="{% static "images/amazon_logo.png" %}" width="10%">
        <div id="location">
            <img src="{% static "images/location.png" %}">
            <div>
                <p id="text">Delevering to Shubh</p>
                <p id="text-2">Moradabad 244001</p>
            </div>
        </div>
    </div>
</body>
</html>