{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subnavbar</title>
    <link rel="stylesheet" href="{% static "css/sub_navbar.css"%}">
</head>
<body>
    <div class="sidebar">
        <div class ="sidebar_content">
            <div class="profile_section">
                <i class="fa-regular fa-user"></i>
                <h3>Hello,sign In <h3>
            </div>

             <div class = "content_section">
                {%for items in data%}
                <h2>{{items.title}}</h2>
                {% for product_items in items.items%}
                <p>{{product_items.name}}</p>
                 {% endfor %}
                 <hr>
                 {%endfor%}

            </div>
        </div>  

           

            
            


        <div class= "cross_bar">
            <i class ="fa-solid fa-xmark"></i>
        </div>
    </div>                    
</body>
</html>
