.sidebar{
    display: flex;
    gap: 10px;
    margin-top: 2px;
}
.profile_section{
    display: flex;
    gap: 10px;
    background-color: #222F3E;
    width: 400px;
    color: white;
    text-align: center;
    padding: 20px;

}
.content_section{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

